<mat-toolbar>Asseco Live Widget Catalogue</mat-toolbar>
<section class="main-section">
  <div class="item">
    <h3 class="mat-h2">User Info Widget</h3>
    <div class="description">
      <div class="mat-body-strong">Description:</div>
      <p class="mat-body-1">
        <!-- start slipsum code -->
  
        User info widget that show's basic information about the client
  
        <!-- end slipsum code -->
      </p>

    </div>
    <hr/>
    <cutomer-poc-user-info></cutomer-poc-user-info>
    <hr/>
  </div>
  <div class="item">
    <h3 class="mat-h2">Weather widget</h3>
    <div class="description">
      <div class="mat-body-strong">Description:</div>
      <p>
        <!-- start slipsum code -->
  
        Basic Weather widget 
  
        <!-- end slipsum code -->
      </p>

    </div>
    <hr>
    <cutomer-poc-weather></cutomer-poc-weather>
    <hr>
  </div>
  <div class="item">
    <h3 class="mat-h2">Star Wars widget</h3>
    <div class="description">
      <div class="mat-body-strong">Description:</div>
      <p class="mat-body-1">
        <!-- start slipsum code -->
  
        Star Wars widget that show's list of characters
  
        <!-- end slipsum code -->
      </p>

    </div>
    <hr>
    <cutomer-poc-starwars></cutomer-poc-starwars>
    <hr>
  </div>
</section>
